*{ 
	margin:0; 
	padding:0; 
	font-weight:normal; 
	text-decoration:none; 
	list-style:none; 
	border:0; 
	font-family:"Microsoft YaHei","微软雅黑";
}
.wrap{
	width: 100%;
}
header{
	width: 100%;
	height: 310px;
	float: left;
	background: #f44336;
}
.noti{
	width: 100%;
	height: 166px;
	float: left;
	line-height: 166px;
}
.img{
	display: block;
	float: left;
	margin: 59px 0 0 59px;
}
.noti h4{
	margin-left: 50px;
	float: left;
	font-size: 56px;
	color: #fff;
}
.img-d{
	display: block;
	float: right;
	margin: 60px 60px 0 0 ;
}
nav{
	width: 100%;
	height: 144px;
	float: left;
}
nav ul li{
	height: 143px;
	line-height: 143px;
	float: left;
	color: #fff;
	font-size: 40px;
	margin-left: 170px;
}
article{
	width: 100%;
	height: 1566px;
	float: left;
}
.juzhong{
	width: 984px;
	height: 1566px;
	margin: 0 auto;
}
.tou{
	width: 984px;
	height: 200px;
	padding-top: 59px;
	float: left;
	border-bottom: 1px solid #eaeaea;
}
.tou-y{
	display: block;
	float: left;
}
.tou div{
	width: 500px;
	height: 130px;
	float: left;
	padding-top: 20px;
	margin-left: 30px;
}
.tou div p{
	margin-bottom: 20px;
	font-size: 28px;
	color: #757575;
}
.tou div p span{
	color: #f44336;
}
.tou-e{
	display: block;
	float: right;
}
	